body{
	background-color: LightBlue;
}

tr nth-child(even){
  background-color: yellow !important;
}
tr nth-child(odd){
  background-color: red !important;
}

thead {
	background-color : DarkGray; 
	color: black;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: LightSteelBlue;
}

table {
	background-color: white;
	margin-top: 10px;
}

.toolListHeader {
	text-align: center;
}

footer {
	background-color: LightBlue;
	position:fixed;
	bottom: 0px;
	width: 300px;
	text-align: center;
}

#formSubmitButton {
	border-radius: 8px !important; 
}

 #logo {
	height: auto; 
    width: auto; 
    max-width: 70px; 
    max-height: 70px;
    position: relative;
    margin-top: -10px;
    
} 