



.jumbotron-billboard{
	margin: 0px;
	min-height: 225px;
}
thead {
	background-color : DarkGray; 
	color: black;
}
html{height: 100%;}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: Moccasin;
}

table {
	background-color: LightGray;
	margin-top: 10px;
}

.toolListHeader {
	text-align: center;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
footer {
 	background-color: #f5f5f5  ;
 	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

#formSubmitButton {
	border-radius: 4px !important; 
}

 #logo {
	height: auto; 
    width: auto; 
    max-width: 70px; 
    max-height: 70px;
    position: relative;
    margin-top: -10px;
} 


.slidePic {
	height: 355px !important;
	width: 640px !important;
}

.carousel {
  width:640px !important;
  height:360px !important;
} 




.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("../img/logo.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.jumbotron #library-title {
	margin-top:0;
	font-size: 60px;
	font-weight: bold;
	font-family: URW Chancery L, cursive
}

.jumbotron p {
	margin-top:0;
	font-size: 30px;
	font-family: Gill Sans, sans-serif
}



.jumbotron {
  position:relative;
  padding-top: 5px;
  padding-bottom:15px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}



  #currentUser {
	text-align : right;
	font-weight : bold;
}

<<<<<<< HEAD

.container{
	margin-bottom: 61px;
}
body {
    margin-bottom: 60px;
}


.current{
	color: blue;
	
}

navbar-light .navbar-brand {
color: #orange;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
color: #yellow;
}

.navbar-light .navbar-nav .nav-link {
color: green;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: #ccc !important;
}


=======
>>>>>>> 85a9b9651cbb82233c34210ad002d8a69a4c7438
<!-- the below does not appear to actually work -->
@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
  
  

  



}
